#canvas {
    display: none;
}
#justClick {
    display: none;
    text-align: center;
}
#dankPic {
    display: none;
    border-radius: 5px;
    max-width: 70vw;
}
#error {
    display: none;
    text-align: center;
}
#input {
    display: none;
}
.container {
    display: flex;
    width: 100%;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-family: 'Great Vibes', cursive;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 10vh;
    color: #ffca28;
}
.subtitle {
    text-align: center;
}
.flexCenter {
    display: flex;
    justify-content: center;
}
.dragBox {
    width: 15vw;
    height: 15vh;
    border: 2px solid white;
    border-style: dashed;
    transition: border-color 0.5s;
}
#clipboardSuccess {
    display: none;
}
